In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
df = pd.read_excel("orders_A1.xlsx")
df

,OrderId,StoreId,CustomerId,OrderStatusId,PaymentStatusId,ShippingStatusId,OrderSubtotalInclTax,OrderSubtotalExclTax,OrderSubTotalDiscountInclTax,OrderSubTotalDiscountExclTax,...,BillingCountry,BillingStateProvince,BillingCounty,BillingCity,BillingZipPostalCode,BillingFaxNumber,ShippingCountry,ShippingStateProvince,ShippingCity,ShippingZipPostalCode
0,3459.0,5.0,43017481,30,30,20,15.24,13.49,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
1,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CAPRE-00004-00077-D2-1,13.49,15.2437,1,0,0,13.49,15.2437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3458.0,5.0,43017481,30,30,20,15.8,13.98,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
4,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12718,NaN,NaN,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12719,33.0,4.0,5209,30,10,20,21.05,18.63,0,0,...,NaN,NaN,NaN,Cambridge,N1R5s5,NaN,NaN,NaN,Cambridge,N1R5s5
12720,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12721,NaN,NaN,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12722,NaN,NaN,CARE-00004-00008,7.34,8.2942,1,0,0,7.34,8.2942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isna().sum()

OrderId                                     9439
StoreId                                     9439
CustomerId                                     0
OrderStatusId                                  0
PaymentStatusId                                0
ShippingStatusId                               0
OrderSubtotalInclTax                           0
OrderSubtotalExclTax                           0
OrderSubTotalDiscountInclTax                   0
OrderSubTotalDiscountExclTax                   0
OrderShippingInclTax                        9439
OrderShippingExclTax                        9439
PaymentMethodAdditionalFeeInclTax           9439
PaymentMethodAdditionalFeeExclTax           9439
TaxRates                                    9439
OrderTax                                    9439
OrderTotal                                  9439
RefundedAmount                              9439
OrderDiscount                               9439
CurrencyRate                                9439
CustomerCurrencyCode                        9439
AffiliateId                                 9439
PaymentMethodSystemName                     9439
ShippingPickupInStore                       9439
ShippingRateComputationMethodSystemName     9452
CustomValuesXml                            10989
VatNumber                                  12723
CreatedOnUtc                                9439
BillingCompany                             12723
BillingCountry                              9494
BillingStateProvince                        9495
BillingCounty                              12723
BillingCity                                10007
BillingZipPostalCode                        9444
BillingFaxNumber                           12723
ShippingCountry                            10129
ShippingStateProvince                      10130
ShippingCity                                9926
ShippingZipPostalCode                       9452
dtype: int64

* the format of transaction details is convinient to view in excel, but not for our pandas dataframe. it is just making null values. so let us handle it first by seperating them into different data frames.

In [4]:
column_names = ["OrderId","Sku", "PriceExclTax", "PriceInclTax","Quantity","DiscountExclTax","DiscountInclTax","TotalExclTax","TotalInclTax"]
product_details_df = pd.DataFrame(columns=column_names)
product_details_df

Empty DataFrame
Columns: [OrderId, Sku, PriceExclTax, PriceInclTax, Quantity, DiscountExclTax, DiscountInclTax, TotalExclTax, TotalInclTax]
Index: []

In [5]:
for index, row in df.iterrows():
    if pd.isna(row["OrderId"]):
        if row["CustomerId"]=="Sku":
            df = df.drop(index)
            continue
        product_detail = {
            "OrderId": current_OrderId,
            "Sku": row["CustomerId"],
            "PriceExclTax": row["OrderStatusId"],
            "PriceInclTax": row["PaymentStatusId"],
            "Quantity": row["ShippingStatusId"],
            "DiscountExclTax": row["OrderSubtotalInclTax"],
            "DiscountInclTax": row["OrderSubtotalExclTax"],
            "TotalExclTax": row["OrderSubTotalDiscountInclTax"],
            "TotalInclTax": row["OrderSubTotalDiscountExclTax"],
        }
        product_details_df = product_details_df.append(product_detail,ignore_index=True)
        df = df.drop(index)
        
    else :
        current_OrderId = row["OrderId"]
product_details_df

,OrderId,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax
0,3459.0,CAPRE-00004-00077-D2-1,13.49,15.2437,1,0,0,13.49,15.2437
1,3458.0,CAPRE-00004-00065-D2-1,13.98,15.7974,1,0,0,13.98,15.7974
2,3457.0,CAPRE-00004-00056-D2-1,19.11,21.5943,2,0,0,38.22,43.1886
3,3456.0,CAPRE-00004-00052,13.59,15.3567,1,0,0,13.59,15.3567
4,3456.0,CAPRE-00004-00053,9.42,10.6446,1,0,0,9.42,10.6446
...,...,...,...,...,...,...,...,...,...
6151,45.0,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577
6152,45.0,CARE-00004-00017,1.31,1.4803,2,0,0,2.62,2.9606
6153,41.0,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577
6154,33.0,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577
6155,33.0,CARE-00004-00008,7.34,8.2942,1,0,0,7.34,8.2942

In [6]:
product_details_df.isna().sum()

OrderId            0
Sku                0
PriceExclTax       0
PriceInclTax       0
Quantity           0
DiscountExclTax    0
DiscountInclTax    0
TotalExclTax       0
TotalInclTax       0
dtype: int64

In [7]:
df

,OrderId,StoreId,CustomerId,OrderStatusId,PaymentStatusId,ShippingStatusId,OrderSubtotalInclTax,OrderSubtotalExclTax,OrderSubTotalDiscountInclTax,OrderSubTotalDiscountExclTax,...,BillingCountry,BillingStateProvince,BillingCounty,BillingCity,BillingZipPostalCode,BillingFaxNumber,ShippingCountry,ShippingStateProvince,ShippingCity,ShippingZipPostalCode
0,3459.0,5.0,43017481,30,30,20,15.24,13.49,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
3,3458.0,5.0,43017481,30,30,20,15.8,13.98,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
6,3457.0,5.0,7934570,30,30,20,43.19,38.22,0,0,...,Canada,Ontario,NaN,Ayr,N0B 1E0,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
9,3456.0,15.0,42958451,30,30,20,115.18,101.93,0,0,...,Canada,Ontario,NaN,Brantford,N3R 2G5,NaN,NaN,NaN,Brantford,"N3R 5L3,"
19,3455.0,15.0,42957266,30,30,20,46.49,41.37,0,0,...,Canada,Ontario,NaN,Brantford,N3R 8A9,NaN,NaN,NaN,Brantford,"N3R 5L3,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12706,49.0,4.0,5209,30,10,20,12.76,11.29,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12709,46.0,4.0,5209,30,30,20,12.76,11.29,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12712,45.0,4.0,5209,30,30,20,15.72,13.91,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12716,41.0,4.0,5209,30,30,20,12.76,11.29,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12719,33.0,4.0,5209,30,10,20,21.05,18.63,0,0,...,NaN,NaN,NaN,Cambridge,N1R5s5,NaN,NaN,NaN,Cambridge,N1R5s5

In [8]:
df.isna().sum()

OrderId                                       0
StoreId                                       0
CustomerId                                    0
OrderStatusId                                 0
PaymentStatusId                               0
ShippingStatusId                              0
OrderSubtotalInclTax                          0
OrderSubtotalExclTax                          0
OrderSubTotalDiscountInclTax                  0
OrderSubTotalDiscountExclTax                  0
OrderShippingInclTax                          0
OrderShippingExclTax                          0
PaymentMethodAdditionalFeeInclTax             0
PaymentMethodAdditionalFeeExclTax             0
TaxRates                                      0
OrderTax                                      0
OrderTotal                                    0
RefundedAmount                                0
OrderDiscount                                 0
CurrencyRate                                  0
CustomerCurrencyCode                          0
AffiliateId                                   0
PaymentMethodSystemName                       0
ShippingPickupInStore                         0
ShippingRateComputationMethodSystemName      13
CustomValuesXml                            1550
VatNumber                                  3284
CreatedOnUtc                                  0
BillingCompany                             3284
BillingCountry                               55
BillingStateProvince                         56
BillingCounty                              3284
BillingCity                                 568
BillingZipPostalCode                          5
BillingFaxNumber                           3284
ShippingCountry                             690
ShippingStateProvince                       691
ShippingCity                                487
ShippingZipPostalCode                        13
dtype: int64

* We have reduced most of the null values in our data frame. but still there are few left. let us observe closely about them

In [9]:
df[df.isnull().any(axis=1)]

,OrderId,StoreId,CustomerId,OrderStatusId,PaymentStatusId,ShippingStatusId,OrderSubtotalInclTax,OrderSubtotalExclTax,OrderSubTotalDiscountInclTax,OrderSubTotalDiscountExclTax,...,BillingCountry,BillingStateProvince,BillingCounty,BillingCity,BillingZipPostalCode,BillingFaxNumber,ShippingCountry,ShippingStateProvince,ShippingCity,ShippingZipPostalCode
0,3459.0,5.0,43017481,30,30,20,15.24,13.49,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
3,3458.0,5.0,43017481,30,30,20,15.8,13.98,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
6,3457.0,5.0,7934570,30,30,20,43.19,38.22,0,0,...,Canada,Ontario,NaN,Ayr,N0B 1E0,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
9,3456.0,15.0,42958451,30,30,20,115.18,101.93,0,0,...,Canada,Ontario,NaN,Brantford,N3R 2G5,NaN,NaN,NaN,Brantford,"N3R 5L3,"
19,3455.0,15.0,42957266,30,30,20,46.49,41.37,0,0,...,Canada,Ontario,NaN,Brantford,N3R 8A9,NaN,NaN,NaN,Brantford,"N3R 5L3,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12706,49.0,4.0,5209,30,10,20,12.76,11.29,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12709,46.0,4.0,5209,30,30,20,12.76,11.29,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12712,45.0,4.0,5209,30,30,20,15.72,13.91,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12716,41.0,4.0,5209,30,30,20,12.76,11.29,0,0,...,Canada,Ontario,NaN,Cambridge,N1R5s5,NaN,Canada,Ontario,Cambridge,N1R5s5
12719,33.0,4.0,5209,30,10,20,21.05,18.63,0,0,...,NaN,NaN,NaN,Cambridge,N1R5s5,NaN,NaN,NaN,Cambridge,N1R5s5

* 4 of the columns are full of null values only, there is no use from them. let us drop them.

In [10]:
df.drop(['VatNumber','BillingCompany','BillingCounty','BillingFaxNumber'],axis=1,inplace=True)

In [11]:
df.nunique()

OrderId                                    3284
StoreId                                       8
CustomerId                                 2143
OrderStatusId                                 2
PaymentStatusId                               4
ShippingStatusId                              5
OrderSubtotalInclTax                       1169
OrderSubtotalExclTax                       1082
OrderSubTotalDiscountInclTax                  1
OrderSubTotalDiscountExclTax                  1
OrderShippingInclTax                        131
OrderShippingExclTax                        130
PaymentMethodAdditionalFeeInclTax             1
PaymentMethodAdditionalFeeExclTax             1
TaxRates                                    595
OrderTax                                    593
OrderTotal                                 1279
RefundedAmount                               20
OrderDiscount                                26
CurrencyRate                                  1
CustomerCurrencyCode                          1
AffiliateId                                   2
PaymentMethodSystemName                       2
ShippingPickupInStore                         2
ShippingRateComputationMethodSystemName       4
CustomValuesXml                            1734
CreatedOnUtc                               3284
BillingCountry                                1
BillingStateProvince                          1
BillingCity                                 108
BillingZipPostalCode                       1289
ShippingCountry                               1
ShippingStateProvince                         1
ShippingCity                                 29
ShippingZipPostalCode                       386
dtype: int64

* We can observe that many columns have only one value. for example - BillingCountry is Canada. so we can establish that everytransaction has taken place in only canada. and can remove it from data. remaining columns with 1 unique values are same category.

In [12]:
df.drop(['OrderSubTotalDiscountInclTax','OrderSubTotalDiscountExclTax','PaymentMethodAdditionalFeeInclTax','PaymentMethodAdditionalFeeExclTax',"CurrencyRate","CustomerCurrencyCode","BillingCountry","BillingStateProvince","ShippingCountry","ShippingStateProvince"],axis=1,inplace=True)

In [13]:
df.nunique()

OrderId                                    3284
StoreId                                       8
CustomerId                                 2143
OrderStatusId                                 2
PaymentStatusId                               4
ShippingStatusId                              5
OrderSubtotalInclTax                       1169
OrderSubtotalExclTax                       1082
OrderShippingInclTax                        131
OrderShippingExclTax                        130
TaxRates                                    595
OrderTax                                    593
OrderTotal                                 1279
RefundedAmount                               20
OrderDiscount                                26
AffiliateId                                   2
PaymentMethodSystemName                       2
ShippingPickupInStore                         2
ShippingRateComputationMethodSystemName       4
CustomValuesXml                            1734
CreatedOnUtc                               3284
BillingCity                                 108
BillingZipPostalCode                       1289
ShippingCity                                 29
ShippingZipPostalCode                       386
dtype: int64

* there are columns with 2 unique values, lets check them out.

In [14]:
df["OrderStatusId"].value_counts()

30    3168
40     116
Name: OrderStatusId, dtype: int64

In [15]:
df["PaymentStatusId"].value_counts()

30    1731
10    1535
40      11
35       7
Name: PaymentStatusId, dtype: int64

In [16]:
df["ShippingStatusId"].value_counts()

20    2312
40     947
10      12
30       9
25       4
Name: ShippingStatusId, dtype: int64

In [17]:
df["AffiliateId"].value_counts()

0.0    3281
2.0       3
Name: AffiliateId, dtype: int64

In [18]:
df["PaymentMethodSystemName"].value_counts()

Payments.PayPalSmartPaymentButtons    1734
Payments.CashOnDelivery               1550
Name: PaymentMethodSystemName, dtype: int64

In [19]:
df["ShippingPickupInStore"].value_counts()

1.0    1658
0.0    1626
Name: ShippingPickupInStore, dtype: int64

In [20]:
df["ShippingRateComputationMethodSystemName"].value_counts()

Pickup.PickupInStore                        1658
AppSetting.Shipping.FixedByWeightByTotal     820
Shipping.FixedByWeightByTotal                595
Widgets.AppSettings                          198
Name: ShippingRateComputationMethodSystemName, dtype: int64

* Here AppSetting.Shipping.FixedByWeightByTotal, Shipping.FixedByWeightByTotal, Widgets.AppSettings looks like the same computation method but written differently so let us rename them properly.

In [21]:
df['ShippingRateComputationMethodSystemName'] = df['ShippingRateComputationMethodSystemName'].replace({
                                            'Pickup.PickupInStore' : 'Pickup_In_Store',
                                            'AppSetting.Shipping.FixedByWeightByTotal' : 'Fixed_By_Weight_By_Total',
                                            'Shipping.FixedByWeightByTotal' : 'Fixed_By_Weight_By_Total',
                                            'Widgets.AppSettings' : 'Fixed_By_Weight_By_Total'
                                  })

In [22]:
df["ShippingRateComputationMethodSystemName"].value_counts()

Pickup_In_Store             1658
Fixed_By_Weight_By_Total    1613
Name: ShippingRateComputationMethodSystemName, dtype: int64

* Perfectly handled : )

In [23]:
df.isnull().sum()

OrderId                                       0
StoreId                                       0
CustomerId                                    0
OrderStatusId                                 0
PaymentStatusId                               0
ShippingStatusId                              0
OrderSubtotalInclTax                          0
OrderSubtotalExclTax                          0
OrderShippingInclTax                          0
OrderShippingExclTax                          0
TaxRates                                      0
OrderTax                                      0
OrderTotal                                    0
RefundedAmount                                0
OrderDiscount                                 0
AffiliateId                                   0
PaymentMethodSystemName                       0
ShippingPickupInStore                         0
ShippingRateComputationMethodSystemName      13
CustomValuesXml                            1550
CreatedOnUtc                                  0
BillingCity                                 568
BillingZipPostalCode                          5
ShippingCity                                487
ShippingZipPostalCode                        13
dtype: int64

In [24]:
df[df["ShippingRateComputationMethodSystemName"].isnull()][["ShippingRateComputationMethodSystemName", "ShippingPickupInStore"]]

     ShippingRateComputationMethodSystemName  ShippingPickupInStore
2633                                     NaN                    0.0
2728                                     NaN                    0.0
2738                                     NaN                    0.0
2942                                     NaN                    0.0
2993                                     NaN                    0.0
4362                                     NaN                    0.0
4520                                     NaN                    0.0
6399                                     NaN                    0.0
6661                                     NaN                    0.0
7305                                     NaN                    0.0
7653                                     NaN                    0.0
7658                                     NaN                    0.0
7738                                     NaN                    0.0

* These are not pickup in stores, so we have only one other method. so let us fill them with it.

In [25]:
df["ShippingRateComputationMethodSystemName"].fillna("Fixed_By_Weight_By_Total", inplace=True)

In [26]:
df.isna().sum()

OrderId                                       0
StoreId                                       0
CustomerId                                    0
OrderStatusId                                 0
PaymentStatusId                               0
ShippingStatusId                              0
OrderSubtotalInclTax                          0
OrderSubtotalExclTax                          0
OrderShippingInclTax                          0
OrderShippingExclTax                          0
TaxRates                                      0
OrderTax                                      0
OrderTotal                                    0
RefundedAmount                                0
OrderDiscount                                 0
AffiliateId                                   0
PaymentMethodSystemName                       0
ShippingPickupInStore                         0
ShippingRateComputationMethodSystemName       0
CustomValuesXml                            1550
CreatedOnUtc                                  0
BillingCity                                 568
BillingZipPostalCode                          5
ShippingCity                                487
ShippingZipPostalCode                        13
dtype: int64

* Still there are 5 columns with null values. But upon observation, we can consider them useless as address is not that much relevant information. so let us remove them. they are not helpful to the model.

In [27]:
df.drop(['CustomValuesXml','BillingCity','BillingZipPostalCode','ShippingCity',"ShippingZipPostalCode"],axis=1,inplace=True)

In [28]:
df.isna().sum()

OrderId                                    0
StoreId                                    0
CustomerId                                 0
OrderStatusId                              0
PaymentStatusId                            0
ShippingStatusId                           0
OrderSubtotalInclTax                       0
OrderSubtotalExclTax                       0
OrderShippingInclTax                       0
OrderShippingExclTax                       0
TaxRates                                   0
OrderTax                                   0
OrderTotal                                 0
RefundedAmount                             0
OrderDiscount                              0
AffiliateId                                0
PaymentMethodSystemName                    0
ShippingPickupInStore                      0
ShippingRateComputationMethodSystemName    0
CreatedOnUtc                               0
dtype: int64

In [32]:
product_details_df.isna().sum()

OrderId            0
Sku                0
PriceExclTax       0
PriceInclTax       0
Quantity           0
DiscountExclTax    0
DiscountInclTax    0
TotalExclTax       0
TotalInclTax       0
dtype: int64

In [29]:
product_details_df.nunique()

OrderId            3283
Sku                 352
PriceExclTax        438
PriceInclTax        458
Quantity             17
DiscountExclTax       3
DiscountInclTax       3
TotalExclTax        629
TotalInclTax        651
dtype: int64

In [30]:
product_details_df.describe()

           OrderId  PriceExclTax  PriceInclTax  TotalExclTax  TotalInclTax
count  6156.000000   6156.000000   6156.000000   6156.000000   6156.000000
mean   1892.993665      7.722182      8.698505      9.246324     10.379847
std     994.742894      6.246495      7.055074     10.011252     10.880573
min      33.000000      0.000000      0.000000      0.000000      0.000000
25%    1039.750000      0.000000      0.000000      0.000000      0.000000
50%    1983.500000      8.290000      9.367700      8.730000      9.610000
75%    2786.000000     12.490000     14.113700     13.920000     15.658975
max    3459.000000     34.990000     39.538700    233.410000    233.410000

In [31]:
df.describe()

,OrderId,StoreId,OrderShippingInclTax,OrderShippingExclTax,OrderTax,OrderTotal,RefundedAmount,OrderDiscount,AffiliateId,ShippingPickupInStore,CreatedOnUtc
count,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000
mean,1816.017661,6.719549,5.204217,5.202695,2.123231,25.198365,0.194236,0.044354,0.001827,0.504872,44595.932240
std,950.707384,4.258575,59.467555,59.467624,2.747900,63.890123,4.635601,0.192441,0.060431,0.500052,238.594925
min,33.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44005.033582
25%,996.750000,4.000000,0.000000,0.000000,0.000000,6.500000,0.000000,0.000000,0.000000,0.000000,44414.866009
50%,1817.500000,5.000000,0.000000,0.000000,1.300000,13.850000,0.000000,0.000000,0.000000,1.000000,44556.924175
75%,2638.250000,5.000000,6.500000,6.500000,3.700000,34.260000,0.000000,0.000000,0.000000,1.000000,44721.757154
max,3459.000000,16.000000,1966.810000,1966.810000,30.070000,1982.710000,239.380000,2.120000,2.000000,1.000000,45190.702418