In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("orders_A1.xlsx")
df

,OrderId,StoreId,CustomerId,OrderStatusId,PaymentStatusId,ShippingStatusId,OrderSubtotalInclTax,OrderSubtotalExclTax,OrderSubTotalDiscountInclTax,OrderSubTotalDiscountExclTax,...,BillingCountry,BillingStateProvince,BillingCounty,BillingCity,BillingZipPostalCode,BillingFaxNumber,ShippingCountry,ShippingStateProvince,ShippingCity,ShippingZipPostalCode
0,3459.0,5.0,43017481,30,30,20,15.24,13.49,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
1,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CAPRE-00004-00077-D2-1,13.49,15.2437,1,0,0,13.49,15.2437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3458.0,5.0,43017481,30,30,20,15.8,13.98,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
4,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12718,NaN,NaN,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12719,33.0,4.0,5209,30,10,20,21.05,18.63,0,0,...,NaN,NaN,NaN,Cambridge,N1R5s5,NaN,NaN,NaN,Cambridge,N1R5s5
12720,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12721,NaN,NaN,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12722,NaN,NaN,CARE-00004-00008,7.34,8.2942,1,0,0,7.34,8.2942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_copy = df.copy()
df_copy

,OrderId,StoreId,CustomerId,OrderStatusId,PaymentStatusId,ShippingStatusId,OrderSubtotalInclTax,OrderSubtotalExclTax,OrderSubTotalDiscountInclTax,OrderSubTotalDiscountExclTax,...,BillingCountry,BillingStateProvince,BillingCounty,BillingCity,BillingZipPostalCode,BillingFaxNumber,ShippingCountry,ShippingStateProvince,ShippingCity,ShippingZipPostalCode
0,3459.0,5.0,43017481,30,30,20,15.24,13.49,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
1,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CAPRE-00004-00077-D2-1,13.49,15.2437,1,0,0,13.49,15.2437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3458.0,5.0,43017481,30,30,20,15.8,13.98,0,0,...,Canada,Ontario,NaN,Cambridge,N1S 3V7,NaN,Canada,Ontario,"Cambridge,",N1R 4S1
4,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12718,NaN,NaN,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12719,33.0,4.0,5209,30,10,20,21.05,18.63,0,0,...,NaN,NaN,NaN,Cambridge,N1R5s5,NaN,NaN,NaN,Cambridge,N1R5s5
12720,NaN,NaN,Sku,PriceExclTax,PriceInclTax,Quantity,DiscountExclTax,DiscountInclTax,TotalExclTax,TotalInclTax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12721,NaN,NaN,CARE-00004-00015,11.29,12.7577,1,0,0,11.29,12.7577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12722,NaN,NaN,CARE-00004-00008,7.34,8.2942,1,0,0,7.34,8.2942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isna().sum()

OrderId                                     9439
StoreId                                     9439
CustomerId                                     0
OrderStatusId                                  0
PaymentStatusId                                0
ShippingStatusId                               0
OrderSubtotalInclTax                           0
OrderSubtotalExclTax                           0
OrderSubTotalDiscountInclTax                   0
OrderSubTotalDiscountExclTax                   0
OrderShippingInclTax                        9439
OrderShippingExclTax                        9439
PaymentMethodAdditionalFeeInclTax           9439
PaymentMethodAdditionalFeeExclTax           9439
TaxRates                                    9439
OrderTax                                    9439
OrderTotal                                  9439
RefundedAmount                              9439
OrderDiscount                               9439
CurrencyRate                                9439
CustomerCurrencyCode                        9439
AffiliateId                                 9439
PaymentMethodSystemName                     9439
ShippingPickupInStore                       9439
ShippingRateComputationMethodSystemName     9452
CustomValuesXml                            10989
VatNumber                                  12723
CreatedOnUtc                                9439
BillingCompany                             12723
BillingCountry                              9494
BillingStateProvince                        9495
BillingCounty                              12723
BillingCity                                10007
BillingZipPostalCode                        9444
BillingFaxNumber                           12723
ShippingCountry                            10129
ShippingStateProvince                      10130
ShippingCity                                9926
ShippingZipPostalCode                       9452
dtype: int64

* the format of transaction details is convinient to view in excel, but not for our pandas dataframe. it is just making null values. so let us handle it first by seperating them into different data frames.

In [5]:
column_names = ["OrderId","Sku", "PriceExclTax", "PriceInclTax","Quantity","DiscountExclTax","DiscountInclTax","TotalExclTax","TotalInclTax"]
product_details_df = pd.DataFrame(columns=column_names)
product_details_df

Empty DataFrame
Columns: [OrderId, Sku, PriceExclTax, PriceInclTax, Quantity, DiscountExclTax, DiscountInclTax, TotalExclTax, TotalInclTax]
Index: []

In [ ]:
for index, row in df.iterrows():
    if pd.isna(row["OrderId"]):
        if row["CustomerId"]=="Sku":
            df = df.drop(index)
            continue
        product_detail = {
            "OrderId": current_OrderId,
            "Sku": row["CustomerId"],
            "PriceExclTax": row["OrderStatusId"],
            "PriceInclTax": row["PaymentStatusId"],
            "Quantity": row["ShippingStatusId"],
            "DiscountExclTax": row["OrderSubtotalInclTax"],
            "DiscountInclTax": row["OrderSubtotalExclTax"],
            "TotalExclTax": row["OrderSubTotalDiscountInclTax"],
            "TotalInclTax": row["OrderSubTotalDiscountExclTax"],
        }
        product_details_df = pd.concat([product_details_df,pd.DataFrame(product_detail,index=[index,])])
        df = df.drop(index)
        
    else :
        current_OrderId = row["OrderId"]
product_details_df

C:\Users\DELL\AppData\Local\Temp\ipykernel_6444\2649514903.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  product_details_df = pd.concat([product_details_df,pd.DataFrame(product_detail,index=[index,])])

In [ ]:
product_details_df.isna().sum()

In [ ]:
df

In [ ]:
df.isna().sum()

* We have reduced most of the null values in our data frame. but still there are few left. let us observe closely about them

In [ ]:
df[df.isnull().any(axis=1)]

* 4 of the columns are full of null values only, there is no use from them. let us drop them.

In [ ]:
df.drop(['VatNumber','BillingCompany','BillingCounty','BillingFaxNumber'],axis=1,inplace=True)

In [ ]:
df.nunique()

* We can observe that many columns have only one value. for example - BillingCountry is Canada. so we can establish that everytransaction has taken place in only canada. and can remove it from data. remaining columns with 1 unique values are same category.

In [ ]:
df.drop(['OrderSubTotalDiscountInclTax','OrderSubTotalDiscountExclTax','PaymentMethodAdditionalFeeInclTax','PaymentMethodAdditionalFeeExclTax',"CurrencyRate","CustomerCurrencyCode","BillingCountry","BillingStateProvince","ShippingCountry","ShippingStateProvince"],axis=1,inplace=True)

In [ ]:
df.nunique()

* there are columns with 2 unique values, lets check them out.

In [ ]:
df["OrderStatusId"].value_counts()

In [ ]:
df["PaymentStatusId"].value_counts()

In [ ]:
df["ShippingStatusId"].value_counts()

In [ ]:
df["AffiliateId"].value_counts()

In [ ]:
df["PaymentMethodSystemName"].value_counts()

In [ ]:
df["ShippingPickupInStore"].value_counts()

In [ ]:
df["ShippingRateComputationMethodSystemName"].value_counts()

* Here AppSetting.Shipping.FixedByWeightByTotal, Shipping.FixedByWeightByTotal, Widgets.AppSettings looks like the same computation method but written differently so let us rename them properly.

In [ ]:
df['ShippingRateComputationMethodSystemName'] = df['ShippingRateComputationMethodSystemName'].replace({
                                            'Pickup.PickupInStore' : 'Pickup_In_Store',
                                            'AppSetting.Shipping.FixedByWeightByTotal' : 'Fixed_By_Weight_By_Total',
                                            'Shipping.FixedByWeightByTotal' : 'Fixed_By_Weight_By_Total',
                                            'Widgets.AppSettings' : 'Fixed_By_Weight_By_Total'
                                  })

In [ ]:
df["ShippingRateComputationMethodSystemName"].value_counts()

* Perfectly handled : )

In [ ]:
df.isnull().sum()

In [ ]:
df[df["ShippingRateComputationMethodSystemName"].isnull()][["ShippingRateComputationMethodSystemName", "ShippingPickupInStore"]]

* These are not pickup in stores, so we have only one other method. so let us fill them with it.

In [ ]:
df["ShippingRateComputationMethodSystemName"].fillna("Fixed_By_Weight_By_Total", inplace=True)

In [ ]:
df.isna().sum()

* Still there are 5 columns with null values. But upon observation, we can consider them useless as address is not that much relevant information. so let us remove them. they are not helpful to the model.

In [ ]:
df.drop(['CustomValuesXml','BillingCity','BillingZipPostalCode','ShippingCity',"ShippingZipPostalCode"],axis=1,inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
product_details_df.isna().sum()

In [ ]:
product_details_df.nunique()

In [ ]:
product_details_df.describe()

In [ ]:
df.describe()

In [ ]:
df.to_excel("order11.xlsx")

In [ ]:
data = pd.read_excel("order11.xlsx")

In [ ]:
data.head()

In [ ]:
import seaborn as sn
import matplotlib.pyplot as plt
corr_matrix = data.corr(numeric_only=True)
fig, ax = plt.subplots(figsize=(15,15))
sn.heatmap(corr_matrix, annot=True, linewidths=0.5, ax=ax)
plt.show()

In [ ]:
sn.pairplot(data, diag_kind='kde')
plt.suptitle('Pair Plot for Numerical Variables', y=1.02)
plt.show()

In [ ]:
data.hist(figsize=(12, 10))
plt.tight_layout()
plt.show()

In [ ]:
categorical_columns = ['OrderStatusId', 'PaymentStatusId', 'ShippingStatusId']
for column in categorical_columns:
    sn.countplot(x=column, data=data)
    plt.title(f'Countplot of {column}')
    plt.show()

In [ ]:
for column in categorical_columns:
    sn.barplot(x=column, y='OrderId', data=data)
    plt.title(f'Barplot of OrderId by {column}')
    plt.show()

In [ ]:
import plotly.express as px
fig = px.scatter(data, x='OrderSubtotalInclTax', y='OrderTotal', color='OrderStatusId', hover_data=['CustomerId'])
fig.show()

In [ ]:
sn.boxplot(x='OrderStatusId', y='OrderTotal', data=data)
plt.title('Box Plot of OrderTotal by OrderStatusId')
plt.show()

In [ ]:
sn.boxplot(x='PaymentStatusId', y='OrderTotal', data=data)
plt.title('Box Plot of OrderTotal by PaymentStatusId')
plt.show()

In [ ]:
sn.boxplot(x='ShippingStatusId', y='OrderTotal', data=data)
plt.title('Box Plot of OrderTotal by ShippingStatusId')
plt.show()

### Now after suggestions from the sir, let us try it another way as well as with our way.

In [ ]:
new_df = df.copy()

In [ ]:
new_df.merge(product_details_df,on='OrderId',how='right')
new_df

In [ ]:
# Sample data
data1 = new_df
data2 = product_details_df

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge DataFrames on the 'ID' column
result_df = pd.merge(df2, df1, on='OrderId', how='left')

result_df.head(20)

### Now, we have the following data frames, 
* df + product_details_df --> out initial method. 
* result_df --> sir's suggestion method.

###### Let us build models on both ways,  and compare results.

# Feature Engineering.

In [ ]:
#Creating a Feature that calculates the price per quantity, indicating the average price per unit.
result_df['PricePerQuantity'] = result_df['PriceExclTax'] / result_df['Quantity']

In [ ]:
result_df.head(5)